<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>SaveNoteServlet</servlet-name>
		<display-name>SaveNoteServlet</display-name>
		<description></description>
		<servlet-class>com.servlet.SaveNoteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteServlet</servlet-name>
		<display-name>DeleteServlet</display-name>
		<description></description>
		<servlet-class>com.servlet.DeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateNoteServlet</servlet-name>
		<display-name>UpdateNoteServlet</display-name>
		<description></description>
		<servlet-class>com.servlet.UpdateNoteServlet</servlet-class>
	</servlet>

	<!-- Removing JSP extension Working -->
	<servlet>
		<servlet-name>Error</servlet-name>
		<jsp-file>/error.jsp</jsp-file>
	</servlet>

	<servlet>
		<servlet-name>AddNote</servlet-name>
		<jsp-file>/addNote.jsp</jsp-file>
	</servlet>

	<servlet>
		<servlet-name>ShowNote</servlet-name>
		<jsp-file>/showNote.jsp</jsp-file>
	</servlet>


	<!-- Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>SaveNoteServlet</servlet-name>
		<url-pattern>/SaveNoteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/DeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateNoteServlet</servlet-name>
		<url-pattern>/UpdateNoteServlet</url-pattern>
	</servlet-mapping>

	<!-- Removing JSP extension working -->
	<servlet-mapping>
		<servlet-name>Error</servlet-name>
		<url-pattern>/error</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AddNote</servlet-name>
		<url-pattern>/addNote</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ShowNote</servlet-name>
		<url-pattern>/showNote</url-pattern>
	</servlet-mapping>



	<!-- Error Handling -->
	<error-page>
		<error-code>404</error-code>
		<location>/pagenotfound.jsp</location>
	</error-page>


	<error-page>
		<error-code>500</error-code>
		<location>/error.jsp</location>
	</error-page>



</web-app>
